
body {
    height: 100px;
    width: 100vw;
     background: linear-gradient(to right,#0a0a0a,#3a4452);
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 400px;
}
.calci{
    border: 1px solid rgb(46, 43, 43);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px -8px 6px rgba(223, 219, 12, 0.5);
}
.opt{
    padding: 5px;
    margin: 5px;
    margin-left: 5px;

    
 

}
button{
    
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: rgb(12, 12, 12);
    box-shadow: -5px -1px 9px rgba(224, 243, 207, 0.8);
    font-size: x-large;
    cursor: pointer;
    color: orange;
}

input{
    height: 80px;
    padding-left: 5px;
    background-color: transparent;
    border: none;
    font-size: 50px;
    width: 100px;
    text-align: right;
    width: 450px;

}
.equal{
    background-color: rgb(255, 159, 5);
    color: rgb(249, 250, 249);
}
.col{
color: green;}
input::placeholder{
    color: white;
}