body{
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}
.container{
    margin-top: 100px;
    margin-right: 20px;
    height: 50vh;
    width: 420px;
    border-radius: 50%;
    background-color: rgba(59, 133, 136, 0.1);
    border: 2px,solid,red;
    box-shadow:0px 0px 30px white;
}
.number {
      position: absolute;
      color: white;
      font-weight: bold;
      font-size: 30px;
      margin-left: 550px;
      margin-top: 200px;
}
