* {
    color: white;
    margin: 0px;
    padding: 0px;
}

div {
    height: 60px;
    background-color: #0f1111;
    color: white;
    height: 60px;
    display: flex;

}

.loc {
    display: inline-block;

    padding-left: 60px;
}

input {
    height: 40px;
    width: 600px;
    margin-left: 60px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;



}

.navlogo {
    height: 60px;
    width: 130px;
}

.logo {
    background-image: url(aa.jpg);
    background-size: cover;
    height: 42px;
    width: 180px;
}

button {
    background-color: rgb(222, 173, 82);
    height: 40px;
    width: 50px;
    border: none;
    border-bottom-right-radius: 4px;



}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    margin-left: 700px;
    margin-top: 300px;
    border: 20px solid #FFE66D;
    border-top: 20px solid #4ECDC4;
    animation: circle 1s linear 0s infinite normal;
    background-image: url(cat_photo.jpg);
    background-size: cover;

}

@keyframes circle {
    from {
        transform: rotate(0drg);
    }

    to {
        transform: rotate(360deg);
    }

}

.search {
    border-top-right-radius: 4px;
    border-bottom-right-radius: px;
}

.order {
    display: inline-block;
    margin-left: 60px;
}

.return {
    display: inline-block;
    margin-left: 60px;
}

.cart {
    display: inline-block;
    margin-left: 60px;
    font-size: x-large;
}

.one,
.t,
.th,
.fo,
.fi,
.six {
    padding-left: 15px;
}

.lower {
    height: 40px;
    background-color: rgb(40, 40, 40);
}

.img {
    padding-left: 670px;
}

.mid {
    background-image: url(am.jpg);
    height: 300px;
    background-size: cover;
}

.box1 {
    display: inline-block;
    background-image: url(Screenshot\ 2025-07-05\ 191530.png);
    height: 420px;
    width: 380px;


}

.box2 {
    display: inline-block;
    background-image: url(Screenshot\ 2025-07-05\ 191550.png);
    height: 420px;
    width: 380px;
}

.box3 {
    display: inline-block;
    background-image: url(Screenshot\ 2025-07-05\ 191540.png);
    height: 420px;
    width: 380px;

}

.box4 {
    display: inline-block;
    background-image: url(Screenshot\ 2025-07-05\ 191627.png);
    height: 420px;
    width: 365px;

}
.gg{
    padding-left: 8px;
}